<% if logged_in?(:site_admin) %>
  <div id="portfolios" class="card">
    <%= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb') %>
    <p class="card-text">
     <span><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></span> 
      <%= portfolio_item.subtitle %>
   
     <div class="row">
       &nbsp;&nbsp;&nbsp;<%= link_to 'Edit', edit_portfolio_path(portfolio_item) %> &nbsp; / &nbsp;
       <%= link_to 'Destroy', portfolio_item, method: :delete,  data: { confirm: 'Are you sure?' }%>
     </div>
     </p>
  </div>
    
<% end %>

  